* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

@font-face {
  font-family: 'Comic Gecko';
  src: url(../src/assets/font/Comic-Gecko-Pro/Comic\ Gecko\ Pro.ttf);
}

.ff_ComicGecko {
  font-family: 'Comic Gecko';
}

:root {
  --fs-xsm: 16px;
  --fs-sm: 36px;
  --fs-medium: 24px;
  /*-----color---- */
  --clr-green: #025928;
  --clr-white: #FFFFFF;
}

.opacity_0_p_7 {
  opacity: 0.7;
}

.ff_Calibri {
  font-family: 'Calibri';
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_medium {
  font-size: var(--fs-medium);
}

/* ----------color--------- */
.bg_green {
  background: var(--clr-green);
}

.text_white {
  color: var(--clr-white);
}

/* NAVBAR */

.nav_hide {
  position: fixed;
  width: 100%;
  background-color: #26A646;
  top: 0;
  z-index: 999 !important;
  left: -100%;
  transition: ease-in-out 500ms;
}

.show_aside {
  position: fixed;
  max-width: 400px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #26A646;
  top: 0;
  right: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.show_aside::-webkit-scrollbar {
  display: none;
}

.aside_hide {
  position: fixed;
  max-width: 400px;
  width: 100%;
  background-color: #025928;
  top: 0;
  z-index: 999 !important;
  right: -100%;
  transition: ease-in-out 500ms;
}

.show_nav {
  position: fixed;
  width: 100%;
  background-color: #025928;
  top: 0;
  left: 0;
  z-index: 999 !important;
  transition: ease-in-out 500ms;
}

.z_index_10 {
  z-index: 10;
}

.nav_links {
  transition: all 300ms linear;
}

.nav_links:hover {
  color: #FFFFFF;
}

.menu {
  height: 20px;
  width: 30px;
  z-index: 100;
}

.line {
  background-color: #fff;
  border-radius: 10px;
  content: "";
  height: 3px;
  position: absolute;
}

.line1 {
  top: 0;
  width: 100%;
  left: 0;
}

.line2 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 75%;
  transition: linear 200ms;
  -webkit-transition: linear 200ms;
  -moz-transition: linear 200ms;
  -ms-transition: linear 200ms;
  -o-transition: linear 200ms;
}

.menu:hover .line2 {
  width: 100%;
}

.line3 {
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav_links {
  position: relative;
}

.nav_links:after {
  content: "";
  height: 0px;
  width: 120%;
  background-color: #0F6133;
  border-bottom: 2px solid #26A646;
  position: absolute;
  transition: 0.6s ease-in-out;
  top: -50px;
  left: -4px;
  z-index: -1;
}

.nav_links:hover:after {
  height: 100px;
}

.sign_up_btn {
  border: 3px solid #26A646;
  color: #fff;
  border-radius: 40px;
  padding: 8px 35px;
  transition: all 300ms linear;
}

.sign_up_btn:hover {
  color: #26A646;
  border: 3px solid #26A646;
  background-color: #FFFFFF;
  transition: all 300ms linear;
}

.Login_btn {
  color: #fff;
  padding: 8px 35px;
  border: 3px solid transparent;
  background-color: #26A646;
  transition: all 300ms linear;
}

.Login_btn:hover {
  border: 3px solid #26A646;
  color: #26A646;
  background-color: #FFFFFF;
  transition: all 300ms linear;
}

.bg_hedader_img {
  background-image: url(../src/assets/img/png/bgHeader.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.PlatteRiver_Box1 {
  background: linear-gradient(162.43deg, #26A646 0.23%, #025928 22.1%, #025928 76.31%, #26A646 103.78%), #025928;
  box-shadow: 0px 20px 80px rgba(16, 18, 17, 0.01);
  border-radius: 8px;
  max-width: 584px;
  min-height: 558px;
}

.PlatteRiver_Box2 {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(18.5px);
  border-radius: 8px;
}

.common_crical {
  width: 94px;
  height: 94px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  transition: all 500ms linear;
}

.common_crical:hover {
  background-color: #26A646;
  /* color: #025928 !important; */
  border: 3px solid #025928;
  transition: all 500ms linear;
  cursor: pointer;
}

.img_crical {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 500ms linear;
  border: 2px solid #B8B8B8;
}

.img_crical:hover {
  background-color: #26A646;
  border: 2px solid #025928;
  transition: all 500ms linear;
}

.RV_Trailers {
  width: 94px;
  height: 94px;
  color: #FFFFFF;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #B8B8B8;
}

.RV_Trailers:hover {
  background-color: #26A646;
  border: 1px solid #025928;
  transition: all 500ms linear;
}

.Cross_img_setup {
  top: 45px;
  right: 11px;
  z-index: 2;
}

.dott_img1_setup {
  right: -100px;
}

.dott_img2_setup {
  left: -138px;
  bottom: -64px;
}